<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/DTD/strict.dtd">
<!-- The DOCTYPE above is the best for putting all browsers into standards or almost-standards mode (per http://hsivonen.iki.fi/doctype/#choosing). -->
<!-- NOTE: Quirks mode in IE 6, and in later versions of IE, will also be triggered if anything but whitespace precedes the DOCTYPE. -->
<!-- NOTE: IE 6 will render a page in quirks mode if the DOCTYPE is preceded by an XML prolog, regardless of the DOCTYPE. -->
<!-- jQuery has known issues with quirks mode, and quirks mode makes other things more difficult to deal with. -->

<html lang="en">

  <head>

    <title><%= h((yield(:title) || 'Untitled') + SITE_TITLE) %></title>

    <!-- Declare UTF-8 character encoding, for situations where we don't have a web server to do so for us. -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Google will display this in its search results. TODO: Determine if the page wants to set this. -->
    <meta name="description" content="" />

    <!-- Favorites icons for IE5+ and Mozilla. -->
    <link rel="shortcut icon" href="/images/x16x16.ico" type="image/x-icon" /> <!-- TODO: ICO file should contain 16x16 and 32x32 icons. -->
    <link rel="icon"          href="/images/x16x16.png" type="image/png" /> <!-- TODO: Test that Mozilla is using this one. -->

    <!-- Tell IE6 not to add Image Toolbar to images, nor SmartTags. -->
    <meta http-equiv="imagetoolbar"        content="false" /> <!-- See http://www.microsoft.com/windows/ie/using/howto/customizing/imgtoolbar.mspx -->
    <meta name="MSSmartTagsPreventParsing" content="true" />

<% if GOOGLE_ANALYTICS_CODE do %>
    <!-- Google Analytics code. (Used only by my JavaScript code.) -->
    <meta name="google.analytics.code" content="<%= GOOGLE_ANALYTICS_CODE %>" />
<% end %>

<% if GOOGLE_WEBMASTERS_CODE do %>
    <!-- Allow use of Google Webmaster Tools (http://www.google.com/webmasters/) to see how Google views your site. -->
    <meta name="verify-v1" content="<%= GOOGLE_WEBMASTERS_CODE %>" />
<% end %>

    <!-- Make sure all CSS stylesheets come before all JavaScript. (http://code.google.com/speed/page-speed/docs/rtt.html#PutStylesBeforeScripts) -->
    <% # Combine all stylesheets into a single CSS file (possibly excepting IE-specific file(s)), preferably compressed. %>
    <%= stylesheet_link_merged 'application' %>

    <!-- Make ABBR elements work in all versions of IE. See http://xopus.com/devblog/2008/style-unknown-elements.html -->
    <script type="text/javascript">document.createElement('abbr');</script>

    <!-- Include jQuery. If production, pull it from Google. -->
    <%= jquery_include_tag %>

    <!-- Include all other JavaScript files. If production, minimize and combine into a single file. -->
    <% javascript_files = ['boochtek', 'boochtek.validation', 'application'] %>
    <% javascript_files += 'boochtek.google-analytics' if GOOGLE_ANALYTICS_CODE %>
    <%= javascript_include_merged javascript_files %>

    <% # TODO: More header/footer stuff. %>
    <%= yield(:head) %>

  </head>

  <!-- Provide a CSS signature, derived from site's URI. (http://archivist.incutio.com/viewlist/css-discuss/13291) -->
  <body id="<%= CSS_SIGNATURE %>">

    <div id="container">
      <div id="flash">
<% flash.each do |name, msg| %>
        <%= content_tag :div, h(msg), :id => "flash_#{name}" %>
<% end %>
      </div>

      <%= yield %>
    </div>

    <div id="footer">
      <div id="copyright">
        Copyright &copy; <%= COPYRIGHT_YEARS %> by <%= COPYRIGHT_OWNER %>
      </div>
    </div>

  </body>

</html>
